.label {
  margin-right: 15px;
  margin-bottom: 10px;
}

.input {
  margin-bottom: 10px;
  height: 30px;
  padding: 1px 5px;
  outline: none;
  font-family: 'Nunito', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
  font-family: 'Nunito', sans-serif;
  width: 110px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: rgb(128, 126, 126);
}

.btn:hover,
.btn:focus {
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  color: rgba(20, 86, 116, 0.671);
}
