.Base {
    text-decoration: none;
    color:blue;
    margin-right: 20px;
    font-size: 20px;
}

.Base:active,
.Base:focus {
    text-decoration: none;
    color:blueviolet;
    margin-right: 20px;
    font-size: 23px;
}

.BaseEmail {
    text-decoration: none;
    color:blue;
    margin-right: 20px;
    margin-left: auto;
    font-size: 20px;
}